<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
<!--
A filter can be added to an expression with a pipe character (|) and a filter.
The uppercase filter format strings to upper case
The lowercase filter format strings to lower case
The currency filter formats a number as currency
-->

<body ng-app="myApp">
    <div ng-controller="personCtrl">

        <p>The Last Name is {{ lastName | uppercase }}</p>
        <p>The First Name is {{ firstName | lowercase }}</p>
    </div>
    <div ng-controller="costCtrl">

        Quantity:
        <input type="number" ng-model="quantity"> Price:
        <input type="number" ng-model="price">

        <p>Total = {{ (quantity * price) | currency }}</p>

    </div>
    <p>A filter can be added to a directive with a pipe character (|) and a filter.</p>
    <p>The orderBy filter orders an array by an expression</p>
    <div ng-controller="namesCtrl">
        <ul>
            <li ng-repeat="x in names | orderBy:'country'">
                {{ x.name + ', ' + x.country }}
            </li>
        </ul>
    </div>
    <p>An input filter can be added to a directive with a pipe character (|) and filter followed by a colon and a model name.</p>
    <p>The filter filter selects a subset of an array</p>
    <div ng-controller="namesCtrl">
        <p>
            <input type="text" ng-model="test">
        </p>
        <ul>
            <li ng-repeat="x in names | filter:test | orderBy:'country'">
                {{ (x.name | uppercase) + ', ' + x.country }}
            </li>
        </ul>
    </div>
    <script src="personController.js"></script>
    <script>
        app.controller('costCtrl', function ($scope) {
            $scope.quantity = 1;
            $scope.price = 9.99;
        });
        app.controller('namesCtrl', function ($scope) {
            $scope.names = [
                {
                    name: 'Raj',
                    country: 'India'
        },
                {
                    name: 'Hege',
                    country: 'Sweden'
        },
                {
                    name: 'Kai',
                    country: 'Denmark'
        }
    ];
        });
    </script>
</body>

</html>