<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!-- Database connection settings -->
    <!-- <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
      <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/test</property>
      <property name="hibernate.connection.username">root</property>
      <property name="hibernate.connection.password">toor</property>
      <property name="hibernate.default_schema">test</property> -->
    <property name="connection.driver_class">org.hsqldb.jdbcDriver</property>
    <property name="connection.url">jdbc:hsqldb:file:src/main/resources/database/test</property>
    <property name="connection.username">sa</property>
    <property name="connection.password" />
    <property name="hibernate.default_schema">PUBLIC</property>
    <!-- JDBC connection pool (use the built-in) -->
    <property name="hibernate.connection.pool_size">1</property>
    <!-- SQL dialect -->
    <!-- <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property> -->
    <property name="dialect">org.hibernate.dialect.HSQLDialect</property>
    <!-- Enable Hibernate's automatic session context management -->
    <property name="hibernate.current_session_context_class">thread</property>
    <!-- Disable the second-level cache -->
    <property name="hibernate.cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>
    <!-- Echo all executed SQL to stdout -->
    <property name="hibernate.show_sql">true</property>
    <!-- Drop and re-create the database schema on startup -->
    <!-- <property name="hbm2ddl.auto">create-drop</property> -->
    <property name="hbm2ddl.auto">create</property>
    <!-- <property name="hbm2ddl.auto">update</property> -->
    <!-- <property name="hbm2ddl.auto">validate</property> -->
  </session-factory>
</hibernate-configuration>