<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>

<body>
    <div ng-app="myApp" ng-controller="personCtrl">

        <button ng-click="toggle()">Toggle</button>
        <!--
        The ng-hide directive can be used to set the visibility of a part of an application.
        The value ng-hide="true" makes an HTML element invisible.
        The value ng-hide="false" makes the element visible.
        -->
        <p ng-hide="myVar">
            First Name:
            <input type="text" ng-model="firstName">
            <br> Last Name:
            <input type="text" ng-model="lastName">
            <br>
            <br> Full Name: {{firstName + " " + lastName}}
        </p>

    </div>

    <script>
        var app = angular.module('myApp', []);
        app.controller('personCtrl', function ($scope) {
            $scope.firstName = "Rajendar",
                $scope.lastName = "Jagapathi"
            $scope.myVar = false;
            $scope.toggle = function () {
                $scope.myVar = !$scope.myVar;
            };
        });
    </script>

<!--
The application has a default property (a variable): $scope.myVar = false;
The ng-hide directive sets the visibility, of a <p> element with two input fields, according to the value (true or false) of myVar.
The function toggle() toggles myVar between true and false.
The value ng-hide="true" makes the element invisible.
-->
    
</body>

</html>