<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>

<body>
    <div ng-app="myApp" ng-controller="myCtrl">

        First Name:
        <input type="text" ng-model="firstName">
        <br>
        <br> Middle Name:
        <input type="text" ng-model="middleName">
        <br>
        <br> Last Name:
        <input type="text" ng-model="lastName">
        <br>
        <br> Full Name: {{firstName + " " + middleName + " " + lastName}}

    </div>

    <script>
        <!-- The ng-app directive defines the application, the ng-controller directive defines the controller.-->
        <!-- AngularJS modules define applications-->    
        var app = angular.module('myApp', []);
        <!--AngularJS controllers control applications-->
        app.controller('myCtrl', function ($scope) {
            $scope.firstName = "Rajendar";
            $scope.middleName = "Reddy";
            $scope.lastName = "Jagapathi";
        });
    </script>
</body>

</html>